@use "sass:math";

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// font settings
$font-family-base:            "Roboto", sans-serif;

$font-size-small:             rem-calc(14);
$font-size-base:              rem-calc(16);
$font-size-medium:            rem-calc(18);
$font-size-large:             rem-calc(20);
$font-size-larger:            rem-calc(22);

$heading-size-small:          rem-calc(24);
$heading-size-base:           rem-calc(36);

$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            700;

$text-color-base:             #000;
$text-color-primary:          #ffffff;
$text-color-secondary:        #37a0f3;
$text-color-tertiary:         #ededed; 
$text-color-quaternary:       #808080;


$background-color-base:        #FFF;
$background-color-primary:     #f7f7f7;
$background-color-secondary:   #414a4f;

$line-height-base:             1.5;
$line-height-small:            1.25;

// size settings
$gutter-base:                  rem-calc(30);
$max-width-base:               90%;
$max-width-primary:            95%;

// border settings
$border-width-base:            rem-calc(1);
$border-radius-base:           rem-calc(4);
// $border-radius-circle:         50%;

$primary-hover-color:         darken($text-color-base, 20%);
$secondary-hover-color:       lighten($text-color-base, 20%);